[hotkeys]
# Use Tkinter key names. Restart Min Keyboard after changing this file.
mode = Control+F12
english = Control+1
simplified = Control+2
traditional = Control+3
japanese = Control+4
korean = Control+5

[languages]
english = true
simplified = true
traditional = true
japanese = true
korean = true
